---
- name: My Test Playbook
  hosts: localhost
  become: true

  vars:
    ans_name_conf: "Python environment name without extension" 
        
  tasks:
#  - name: Install Python
#    ansible.builtin.apt:
#      name: python3-pip
#      state: present
#      update_cache: true
      
#  - name: Install Ansible
#    ansible.builtin.apt:
#      name: ansible
#      state: present
#      update_cache: true
       
  - name: Creating a projects folder
    file:
      path: /opt/python_venvs
      state: directory
      mode: 0755
    
  - name: Контроль передачи переменной в плейбук
    shell: echo {{ ans_path }}
    register: results
  - debug: 
      var: results
      
  - name: Copying a configuration file to a remote machine
    copy:
      src: "{{ ans_path }}/venvs/{{ ans_name_conf }}.txt" 
      dest: "/opt/python_venvs"
      mode: 0555
      register: results
  - debug: 
      var: results
      
  - name: Setting the working environment and dependencies
    shell: | 
      cd /opt/python_venvs
      python3 -m venv {{ ans_name_conf }}
      pip install -r {{ ans_name_conf }}.txt
    register: results
  - debug: 
      var: results
